@charset "UTF-8";

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-ExtraBold.woff") format("woff"), url("../fonts/gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-mediumitalic.woff") format("woff"), url("../fonts/gilroy-mediumitalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-semibolditalic.woff") format("woff"), url("../fonts/gilroy-semibolditalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-size: 15px;
  font-family: gilroy, sans-serif;
  text-align: center;
  color: #1f1f20;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.title {
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.25;
  padding: 0 20px;
  letter-spacing: 2px;
}

.title span {
  color: #fb84a0;
}

.title__description-bold {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.16;
  padding: 0 20px;
}

.title__description {
  font-weight: 500;
  font-size: 23px;
  line-height: 1.3;
  padding: 0 20px;
}

.yellow-button {
  background: url(../img/button.png) no-repeat;
  width: 288px;
  height: 116px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 30px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.autoflash {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.flash {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  -ms-transform: skewX(-45deg) translateX(0);
      transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.lighting {
  -webkit-animation: moving 3s ease-in-out infinite;
  animation: moving 3s ease-in-out infinite;
}

@-webkit-keyframes moving {
  30% {
    webkit-transform: skewX(-45deg) translateX(33.5em);
    -webkit-transform: skewX(-45deg) translateX(33.5em);
            transform: skewX(-45deg) translateX(33.5em);
  }

  100% {
    webkit-transform: skewX(-45deg) translateX(33.5em);
    -webkit-transform: skewX(-45deg) translateX(33.5em);
            transform: skewX(-45deg) translateX(33.5em);
  }
}

@keyframes moving {
  30% {
    webkit-transform: skewX(-45deg) translateX(33.5em);
    -webkit-transform: skewX(-45deg) translateX(33.5em);
            transform: skewX(-45deg) translateX(33.5em);
  }

  100% {
    webkit-transform: skewX(-45deg) translateX(33.5em);
    -webkit-transform: skewX(-45deg) translateX(33.5em);
            transform: skewX(-45deg) translateX(33.5em);
  }
}

/* меню */

.menu-icon {
  display: block;
  font-size: 0;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  position: absolute;
  top: 50px;
  left: 30px;
  cursor: pointer;
  z-index: 5;
}

.menu-icon,
.menu-icon:before,
.menu-icon:after {
  border-top: 3px solid #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu-icon:before,
.menu-icon:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
}

.menu-icon:before {
  top: 7px;
}

.menu-icon:after {
  top: 17px;
}

.menu-icon.opened {
  border-top-color: transparent;
}

.menu-icon.opened:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  top: 12px;
}

.menu-icon.opened:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  top: 12px;
}

.menu-container {
  padding-top: 120px;
  width: 300px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 50px;
  background: #fff;
}

.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-container li {
  margin-bottom: 10px;
}

.menu-container a {
  display: block;
  padding: 10px 0;
  color: #fff;
  background: #ccc;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif, arial;
}

.menu-container.closed {
  display: none;
}

.menu-container.opened {
  display: block;
}

/* header */

.header {
  background: url(../img/header-all.png) 0px 50px/100% auto no-repeat, url(../img/pink-ball-right.png) right 800px no-repeat, url(../img/yellow-ball.png) left 1160px no-repeat, url(../img/bg-header.png) 0px 0px/100% no-repeat;
  position: relative;
}

.logo {
  line-height: 1.3;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
  padding-top: 20px;
}

.logo img {
  margin-right: 15px;
  width: 98px;
  height: 88px;
}

.round-block {
  margin-top: 50%;
  background: url(../img/round-block-balls-right.png) right 28px no-repeat, url(../img/round-block-balls-left.png) 8% 50px no-repeat, url(../img/round-1.png) center 120px no-repeat, url(../img/silver-balls.png) 10% 208px no-repeat;
  padding: 190px 0px 80px;
}

.round-block span {
  font-size: 84px;
  color: #fb84a0;
  position: absolute;
  left: 22px;
  top: 4px;
}

.round-block span::before {
  content: url(../img/star.png);
  position: absolute;
  width: 27px;
  height: 27px;
  top: 0px;
  left: -14px;
}

.round-block p {
  max-width: 250px;
  margin: 0 auto;
}

.round-block .title__description {
  padding: 0;
}

.round-block .title__description-bold {
  padding: 20px 0 15px 85px;
  text-align: left;
  position: relative;
}

.bonus {
  padding: 30px 30px 135px;
}

.bonus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.bonus li {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding: 125px 10px 0px;
}

.bonus li span {
  font-weight: 700;
}

.bonus li:nth-child(1)::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -137px 0px;
  width: 105px;
  height: 112px;
  position: absolute;
  top: 0;
}

.bonus li:nth-child(2)::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: 0px -232px;
  width: 118px;
  height: 86px;
  position: absolute;
  top: 0;
}

.bonus li:nth-child(3)::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -242px 0px;
  width: 105px;
  height: 101px;
  position: absolute;
  top: 0;
}

.bonus .button-container {
  position: relative;
  width: 288px;
  margin: 0 auto;
}

.bonus .button-container::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -242px -101px;
  width: 85px;
  height: 101px;
  position: absolute;
  left: -1px;
  top: -21px;
  z-index: 2;
}

.bonus .yellow-button {
  padding-left: 85px;
}

/* Слайдер */

.slick-slider {
  min-width: 0;
  overflow: hidden;
}

/* Слайдер запущен */

/* Ограничивающая оболочка */

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  position: absolute;
}

/* Стрелка влево */

/* Стрелка вправо */

.characters {
  background: url(../img/characters-bg-bot.png) 0px 685px/100% no-repeat;
  margin-top: -95px;
  position: relative;
}

.characters .title__description {
  padding: 10px 15px 40px;
  background: #f6f6f6;
}

.characters .round-block-2 {
  padding: 114px 0 360px;
  background: url(../img/round-2-balls-left.png) left 65px no-repeat, url(../img/round-2-balls-right.png) right 175px no-repeat, url(../img/catalog-1.png) center 162px no-repeat, url(../img/round-2.png) center 32px no-repeat;
}

.characters .round-block-2 .title__description {
  max-width: 310px;
  margin: 0 auto;
  padding: 18px 0 0;
  font-size: 23px;
  background: none;
}

.characters .round-block-2 .title__description-bold {
  margin: 0 auto;
  max-width: 360px;
  font-size: 23px;
}

.characters .slider {
  background: url(../img/characters-border.png) center top no-repeat, url(../img/characters-bg.png) center -80px no-repeat, #f6f6f6;
  background-blend-mode: normal, screen;
  position: relative;
  padding: 0px 60px;
  /* Ограничивающая оболочка */
  /* Слайд */
  /* Слайд активный (показывается) */
}

.characters .slider__item p {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  visibility: hidden;
}

.characters .slider .slick-list {
  max-width: 400px;
  margin: 0 auto;
}

.characters .slider .slick-slide {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.characters .slider .slick-slide.slick-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.characters .slider .slick-slide.slick-active p {
  visibility: visible;
}

.characters .button-container {
  position: relative;
  width: 258px;
  margin: 0 auto 40px;
}

.characters .button-container::after {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: 0px -91px;
  width: 86px;
  height: 141px;
  position: absolute;
  top: -44px;
  right: -85px;
}

.show .title {
  margin-bottom: 15px;
}

.show .video {
  margin: -30px auto -40px;
  position: relative;
}

.show .video__button {
  position: absolute;
  background: url(../img/play.png) no-repeat;
  width: 144px;
  height: 144px;
  top: 48%;
  left: 50%;
  margin-left: -72px;
}

.photo-inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 540px;
}

.photo-inst__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-inst__left a {
  position: relative;
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 16.56px 1.44px rgba(20, 20, 20, 0.15);
          box-shadow: 0px 9px 16.56px 1.44px rgba(20, 20, 20, 0.15);
  margin-bottom: 20px;
}

.photo-inst__left a::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -347px -280px;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
}

.photo-inst__left p {
  font-size: 18px;
}

.photo-inst__left p:nth-of-type(2) {
  font-weight: 700;
  margin-top: 5px;
}

.photo-inst__right {
  margin-left: 20px;
}

.advantages {
  font-size: 14px;
  margin-top: 70px;
}

.advantages__top {
  max-width: 580px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  max-width: 140px;
}

.advantages__item span {
  font-weight: 700;
}

.advantages__bottom {
  position: relative;
  padding-top: 35px;
  padding-bottom: 65px;
}

.advantages__bottom .advantages__item {
  max-width: 250px;
  margin: 0 auto;
}

.advantages__bottom::before {
  content: '';
  background: url(../img/blue-lollipop.png) no-repeat;
  position: absolute;
  left: 0;
  top: 35px;
  width: 154px;
  height: 240px;
}

.advantages__bottom::after {
  content: '';
  background: url(../img/pink-lollipop.png) no-repeat;
  position: absolute;
  right: 0;
  top: 35px;
  width: 134px;
  height: 232px;
}

.number {
  display: block;
  font-weight: 700;
  font-size: 35px;
  color: #fb84a0;
}

.price .title {
  max-width: 490px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.price .title__description {
  max-width: 540px;
  margin: 0 auto;
}

.price__container {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.price__item {
  background: #fff;
  -webkit-box-shadow: 0px 14px 26.68px 2.32px rgba(20, 20, 20, 0.15);
          box-shadow: 0px 14px 26.68px 2.32px rgba(20, 20, 20, 0.15);
  max-width: 290px;
  margin-top: 160px;
  border-radius: 10px;
  position: relative;
}

.price__item:nth-child(1)::before {
  content: url(../img/price__item-1.png);
  position: absolute;
  top: -125px;
  left: -16px;
}

.price__item:nth-child(1) h3::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -388px -210px;
  width: 27px;
  height: 27px;
  position: absolute;
  left: 34px;
  top: -3px;
}

.price__item:nth-child(1) h3::after {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -192px -232px;
  width: 91px;
  height: 63px;
  position: absolute;
  right: 33px;
  top: -15px;
}

.price__item:nth-child(2)::before {
  content: url(../img/price__item-2.png);
  position: absolute;
  top: -118px;
  left: -19px;
}

.price__item:nth-child(2) h3::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -347px -251px;
  width: 28px;
  height: 29px;
  position: absolute;
  left: 25px;
  top: -3px;
}

.price__item:nth-child(2) h3::after {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 137px;
  height: 91px;
  position: absolute;
  right: 10px;
  top: -35px;
}

.price__item:nth-child(3)::before {
  content: url(../img/price__item-3.png);
  position: absolute;
  top: -303px;
  left: -20px;
}

.price__item:nth-child(3) h3 {
  padding-left: 55px;
}

.price__item:nth-child(3) h3::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -370px -280px;
  width: 24px;
  height: 20px;
  position: absolute;
  left: 21px;
  top: 0px;
}

.price__item:nth-child(3) h3::after {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 137px;
  height: 91px;
  position: absolute;
  right: 5px;
  top: -35px;
}

.price__item:nth-child(4)::before {
  content: url(../img/price__item-4.png);
  position: absolute;
  top: -166px;
  left: -22px;
}

.price__item:nth-child(4) h3 {
  padding-left: 55px;
}

.price__item:nth-child(4) h3::before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -375px -251px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: -1px;
}

.price__item:nth-child(4) h3::after {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 137px;
  height: 91px;
  position: absolute;
  right: 10px;
  top: -35px;
}

.price__item h3 {
  position: relative;
  margin-top: 150px;
  padding-bottom: 20px;
  padding-left: 65px;
  font-weight: 600;
  font-size: 21px;
}

.price__item .yellow-button {
  display: block;
  background: url(../img/min-button.png) no-repeat;
  width: 233px;
  margin: 0 auto;
}

.price__list {
  margin: 0 14px;
}

.price__list li {
  padding-left: 40px;
  position: relative;
  line-height: 1.4;
  margin-bottom: 20px;
}

.price__list li::before {
  content: '';
  width: 15px;
  height: 15px;
  background: #fc96ad;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 11px;
  top: 2px;
  -webkit-box-shadow: 0px 4px 7.6px 0.4px rgba(255, 104, 138, 0.39);
          box-shadow: 0px 4px 7.6px 0.4px rgba(255, 104, 138, 0.39);
}

.price__list-2 {
  margin-left: 54px;
}

.price__list-2 h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.price__list-2 li {
  padding-left: 15px;
  position: relative;
  line-height: 1.4;
  margin-bottom: 20px;
}

.price__list-2 li::before {
  content: '';
  width: 9px;
  height: 9px;
  background: #fc96ad;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 4px;
  -webkit-box-shadow: 0px 4px 7.6px 0.4px rgba(255, 104, 138, 0.39);
          box-shadow: 0px 4px 7.6px 0.4px rgba(255, 104, 138, 0.39);
}

.price__discount {
  padding: 10px 0 25px 26px;
  font-weight: 700;
}

.price__discount > span {
  color: #fb84a0;
  font-size: 18px;
}

.price__discount > span span {
  font-weight: 400;
  color: #797979;
  text-decoration: line-through;
}

.show-list {
  background: url(../img/show-bg.png) center top/100% 749px no-repeat;
  padding-top: 75px;
  margin-bottom: 60px;
  /* Слайдер */
  /* Слайдер запущен */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}

.show-list .title {
  margin-bottom: 15px;
}

.show-list .slick-slider {
  margin: 40px auto 30px;
  max-width: 580px;
}

.show-list .button-container span {
  display: block;
  margin-top: -12px;
}

.reviews {
  /* Слайдер */
  /* Слайдер запущен */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}

.reviews .title__description {
  padding: 15px 0 50px;
}

.reviews .slick-slider {
  padding: 56px 30px 70px;
  max-width: 640px;
  margin: 0 auto;
}

.reviews .slick-list {
  -webkit-box-shadow: 0px 14px 26.68px 2.32px rgba(20, 20, 20, 0.15);
          box-shadow: 0px 14px 26.68px 2.32px rgba(20, 20, 20, 0.15);
}

.reviews .slick-slide {
  overflow-y: visible;
  position: relative;
}

.reviews .avatar {
  display: block;
  position: absolute;
  left: 50%;
  top: -53px;
  margin-left: -53px;
  z-index: 2;
}

.reviews__data {
  margin-top: 70px;
  margin-bottom: 10px;
  font-weight: 500;
}

.reviews__name {
  font-weight: 700;
  margin-bottom: 20px;
}

.reviews__quote {
  position: relative;
  height: 50px;
  font-weight: 700;
  font-style: italic;
}

.reviews__quote p {
  background-color: #fff4ae;
  display: inline-block;
  padding: 10px;
  -webkit-box-shadow: 0px 6px 17.1px 0.9px rgba(28, 28, 28, 0.13);
          box-shadow: 0px 6px 17.1px 0.9px rgba(28, 28, 28, 0.13);
  position: absolute;
  left: 160px;
  top: 0;
  border-radius: 5px;
  -webkit-transform: skew(-3deg, 0);
      -ms-transform: skew(-3deg, 0);
          transform: skew(-3deg, 0);
}

.reviews__quote span {
  background-color: #fff4ae;
  padding: 10px;
  display: inline-block;
  -webkit-box-shadow: 0px 6px 17.1px 0.9px rgba(28, 28, 28, 0.13);
          box-shadow: 0px 6px 17.1px 0.9px rgba(28, 28, 28, 0.13);
  position: absolute;
  left: 160px;
  top: 30px;
  border-radius: 5px;
  -webkit-transform: skew(-3deg, 0);
      -ms-transform: skew(-3deg, 0);
          transform: skew(-3deg, 0);
}

.reviews__quote::before {
  content: url(../img/quote.png);
  position: absolute;
  left: 75px;
  top: 5px;
}

.reviews__text {
  margin-top: 35px;
  padding: 0 60px;
  line-height: 1.7;
  max-height: 175px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.reviews__text p {
  padding-bottom: 15px;
}

.reviews__button {
  color: #ff7aa1;
  font-weight: 800;
  background: #fff;
  padding-bottom: 2px;
  border-bottom: 1px solid #ff7aa1;
  margin-bottom: 55px;
}

.wrapper {
  background: url(../img/two-balls.png) right 3960px no-repeat, url(../img/bg.png) 0px 1175px/100% 3550px no-repeat;
  background-blend-mode: multiply,normal;
}

.playgrounds {
  /* Слайдер */
  /* Слайдер запущен */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}

.playgrounds .title__description {
  padding: 15px 0 40px;
}

.playgrounds .slick-slider {
  padding: 0px 25px 35px;
  max-width: 580px;
  margin: 0 auto;
}

.playgrounds .slick-list {
  border-radius: 10px;
  overflow: hidden;
}

.playgrounds .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.playgrounds__advantages {
  max-width: 580px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.playgrounds__item {
  max-width: 270px;
}

.playgrounds__item h4 {
  color: #fb84a0;
  font-weight: 700;
  font-size: 35px;
  padding-top: 55px;
  padding-bottom: 15px;
  position: relative;
}

.playgrounds__item:nth-of-type(1) h4::before {
  content: '';
  background: url(../img/sprite.png);
  background-position: -347px 0px;
  width: 68px;
  height: 116px;
  position: absolute;
  top: -3px;
  right: 2px;
}

.playgrounds__item:nth-of-type(2) h4::before {
  content: url(../img/playgrounds-item-2.png);
  position: absolute;
  top: 18px;
  right: 27px;
}

.playgrounds__item:nth-of-type(3) h4::before {
  content: '';
  background: url(../img/sprite.png);
  background-position: -118px -232px;
  width: 74px;
  height: 86px;
  position: absolute;
  top: 20px;
  right: 33px;
}

.playgrounds__item:nth-of-type(3) {
  padding-top: 40px;
}

.playgrounds__item p {
  font-size: 18px;
  line-height: 1.3;
}

.playgrounds__wrapper {
  padding-top: 480px;
  padding-bottom: 50px;
  background: url(../img/girl.png) center top no-repeat;
}

.playgrounds__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playgrounds__address p {
  padding-top: 23px;
  padding-right: 30px;
  padding-left: 60px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  position: relative;
}

.playgrounds__address p span {
  font-size: 16px;
  font-weight: 400;
}

.playgrounds__address p::before {
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ff698c;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff698c), to(#ffe27f));
  background: -o-linear-gradient(bottom, #ff698c 0%, #ffe27f 100%);
  background: linear-gradient(0deg, #ff698c 0%, #ffe27f 100%);
  position: absolute;
  left: 0;
  top: 17px;
}

.playgrounds__address p::after {
  content: '';
  background: url(../img/sprite.png);
  background-position: -394px -116px;
  width: 16px;
  height: 21px;
  position: absolute;
  left: 15px;
  top: 28px;
}

.playgrounds__address .yellow-button span {
  display: block;
  padding-top: 20px;
}

.guarantee {
  background: url(../img/white-ball-right.png) right 123px no-repeat, url(../img/pink-ball-left.png) left 305px no-repeat;
}

.guarantee__advantages {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guarantee__item {
  text-align: left;
  padding-left: 120px;
  max-width: 300px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 90px;
  position: relative;
}

.guarantee__item span {
  font-weight: 700;
}

.guarantee__item:nth-child(1)::before {
  content: url(../img/guarantee-advantages-1.png);
  position: absolute;
  left: 0px;
  top: -25px;
}

.guarantee__item:nth-child(2)::before {
  content: url(../img/guarantee-advantages-2.png);
  position: absolute;
  left: 0px;
  top: -25px;
}

.guarantee__item:nth-child(3)::before {
  content: '';
  background: url(../img/sprite.png);
  background-position: -137px -112px;
  width: 99px;
  height: 117px;
  position: absolute;
  left: 0px;
  top: -25px;
}

.guarantee__item:nth-child(4)::before {
  content: url(../img/guarantee-advantages-4.png);
  position: absolute;
  left: 0px;
  top: -25px;
}

.guarantee__item:nth-child(5)::before {
  content: url(../img/guarantee-advantages-5.png);
  position: absolute;
  left: 0px;
  top: -25px;
}

.scenario {
  margin: 0 30px 27px;
}

.scenario__title {
  max-width: 600px;
  margin: 0 auto 50px;
  padding-right: 275px;
  text-align: left;
  position: relative;
}

.scenario__title .title {
  padding: 20px;
}

.scenario__title .title__description {
  font-size: 21px;
}

.scenario__title::after {
  content: url(../img/scenario.png);
  position: absolute;
  right: -30px;
  top: -125px;
}

.appeal {
  padding-top: 70px;
}

.appeal__quote {
  max-width: 340px;
  margin: 15px auto 0;
  padding-top: 42px;
  position: relative;
  text-transform: uppercase;
}

.appeal__quote span {
  background-color: #fff4ae;
  display: inline-block;
  padding: 10px;
  -webkit-box-shadow: 0px 6px 17.1px 0.9px rgba(28, 28, 28, 0.13);
          box-shadow: 0px 6px 17.1px 0.9px rgba(28, 28, 28, 0.13);
  border-radius: 5px;
  -webkit-transform: skew(-3deg, 0);
      -ms-transform: skew(-3deg, 0);
          transform: skew(-3deg, 0);
  font-size: 25px;
  font-weight: 800;
}

.appeal__quote span:first-of-type {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 25px;
}

.appeal__quote b {
  color: #fc96ad;
}

.appeal__quote::before {
  content: url(../img/quote.png);
  position: absolute;
  left: -31px;
  top: -26px;
}

.appeal .video-2 {
  margin: 30px auto;
  max-width: 430px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #fcd2d3;
  -webkit-box-shadow: 0px 14px 26.68px 2.32px rgba(20, 20, 20, 0.15);
          box-shadow: 0px 14px 26.68px 2.32px rgba(20, 20, 20, 0.15);
}

.appeal .video__button-2 {
  position: absolute;
  background: url(../img/play.png) no-repeat;
  width: 144px;
  height: 144px;
  top: 50%;
  left: 50%;
  margin-left: -72px;
  margin-top: -72px;
}

.call-back {
  padding-top: 198px;
  padding-bottom: 80px;
  position: relative;
}

.call-back::before {
  content: url(../img/catalog-2.png);
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -320px;
}

.call-back__wrapper {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 580px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 14px 26.68px 2.32px rgba(20, 20, 20, 0.15);
          box-shadow: 0px 14px 26.68px 2.32px rgba(20, 20, 20, 0.15);
  padding-top: 250px;
}

.call-back h3 {
  font-size: 18px;
  font-weight: 700;
  max-width: 350px;
  margin: 0 auto 25px;
}

.call-back__form .form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  position: relative;
}

.call-back__form .form-top label::before {
  content: '';
  background: url(../img/sprite.png);
  background-position: -394px -137px;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 65px;
  top: 31px;
}

.call-back__form .form-top .tel {
  width: 245px;
  height: 80px;
  background: #e8e8e8;
  padding: 30px 0 30px 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  margin-right: 20px;
}

.call-back__form .form-top .yellow-button {
  background: url(../img/min-button.png) no-repeat;
  width: 233px;
}

.call-back__form .bottom-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 75px;
  margin-top: -10px;
}

.call-back__form .bottom-form label {
  line-height: 1.3;
  max-width: 190px;
  display: block;
}

.call-back__form .bottom-form label:active {
  background: none;
}

.call-back__form .bottom-form input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.call-back__form .bottom-form input + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.call-back__form .bottom-form input + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 15px;
  width: 13px;
  height: 13px;
  border: 1px solid #ffecaa;
  border-radius: 50%;
  background: #FFF;
}

.call-back__form .bottom-form input + label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 19px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffd752;
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.call-back__form .bottom-form input:checked + label:after {
  opacity: 1;
}

.call-back p {
  font-size: 18px;
  padding: 20px 0 50px;
}

.footer {
  border-top: 1px solid #e8e8e8;
  padding-top: 30px;
}

.footer__bottom {
  background: #e8e8e8;
  padding: 25px 0 30px;
}

.footer__bottom a {
  display: inline-block;
  margin-bottom: 10px;
  color: #1f1f20;
  border-bottom: 1px solid #8d8d8e;
}

.footer__bottom p {
  padding-top: 7px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 520px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
}

.contacts h3 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}

.contacts a {
  font-size: 21px;
  font-weight: 700;
  color: #1f1f20;
}

.contacts__tel {
  margin-right: 51px;
}

.contacts__messengers {
  padding-top: 50px;
}

.contacts__messengers ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__messengers li {
  margin-right: 20px;
}

.contacts__messengers li:nth-of-type(1) a {
  display: block;
  background: url(../img/sprite.png);
  background-position: -347px -210px;
  width: 41px;
  height: 41px;
}

.contacts__messengers li:nth-of-type(2) a {
  display: block;
  background: url(../img/sprite.png);
  background-position: -347px -116px;
  width: 47px;
  height: 47px;
}

.contacts__messengers li:nth-of-type(3) a {
  display: block;
  background: url(../img/sprite.png);
  background-position: -347px -163px;
  width: 47px;
  height: 47px;
}

.webp .yellow-button{ background: url(../img/button.webp) no-repeat; }

.webp .header{ background: url(../img/header-all.webp) 0px 50px/100% auto no-repeat, url(../img/pink-ball-right.webp) right 800px no-repeat, url(../img/yellow-ball.webp) left 1160px no-repeat, url(../img/bg-header.webp) 0px 0px/100% no-repeat; }

.webp .round-block{ background: url(../img/round-block-balls-right.webp) right 28px no-repeat, url(../img/round-block-balls-left.webp) 8% 50px no-repeat, url(../img/round-1.webp) center 120px no-repeat, url(../img/silver-balls.webp) 10% 208px no-repeat; }

.webp .bonus li:nth-child(1)::before{ background-image: url(../img/sprite.webp); }

.webp .bonus li:nth-child(2)::before{ background-image: url(../img/sprite.webp); }

.webp .bonus li:nth-child(3)::before{ background-image: url(../img/sprite.webp); }

.webp .bonus .button-container::before{ background-image: url(../img/sprite.webp); }

.webp .characters{ background: url(../img/characters-bg-bot.webp) 0px 685px/100% no-repeat; }

.webp .characters .round-block-2{ background: url(../img/round-2-balls-left.webp) left 65px no-repeat, url(../img/round-2-balls-right.webp) right 175px no-repeat, url(../img/catalog-1.webp) center 162px no-repeat, url(../img/round-2.webp) center 32px no-repeat; }

.webp .characters .slider{ background: url(../img/characters-border.webp) center top no-repeat, url(../img/characters-bg.webp) center -80px no-repeat, #f6f6f6; }

.webp .characters .button-container::after{ background-image: url(../img/sprite.webp); }

.webp .show .video__button{ background: url(../img/play.webp) no-repeat; }

.webp .photo-inst__left a::before{ background-image: url(../img/sprite.webp); }

.webp .advantages__bottom::before{ background: url(../img/blue-lollipop.webp) no-repeat; }

.webp .advantages__bottom::after{ background: url(../img/pink-lollipop.webp) no-repeat; }

.webp .price__item:nth-child(1) h3::before{ background-image: url(../img/sprite.webp); }

.webp .price__item:nth-child(1) h3::after{ background-image: url(../img/sprite.webp); }

.webp .price__item:nth-child(2) h3::before{ background-image: url(../img/sprite.webp); }

.webp .price__item:nth-child(2) h3::after{ background-image: url(../img/sprite.webp); }

.webp .price__item:nth-child(3) h3::before{ background-image: url(../img/sprite.webp); }

.webp .price__item:nth-child(3) h3::after{ background-image: url(../img/sprite.webp); }

.webp .price__item:nth-child(4) h3::before{ background-image: url(../img/sprite.webp); }

.webp .price__item:nth-child(4) h3::after{ background-image: url(../img/sprite.webp); }

.webp .price__item .yellow-button{ background: url(../img/min-button.webp) no-repeat; }

.webp .show-list{ background: url(../img/show-bg.webp) center top/100% 749px no-repeat; }

.webp .wrapper{ background: url(../img/two-balls.webp) right 3960px no-repeat, url(../img/bg.webp) 0px 1175px/100% 3550px no-repeat; }

.webp .playgrounds__item:nth-of-type(1) h4::before{ background: url(../img/sprite.webp); }

.webp .playgrounds__item:nth-of-type(3) h4::before{ background: url(../img/sprite.webp); }

.webp .playgrounds__wrapper{ background: url(../img/girl.webp) center top no-repeat; }

.webp .playgrounds__address p::after{ background: url(../img/sprite.webp); }

.webp .guarantee{ background: url(../img/white-ball-right.webp) right 123px no-repeat, url(../img/pink-ball-left.webp) left 305px no-repeat; }

.webp .guarantee__item:nth-child(3)::before{ background: url(../img/sprite.webp); }

.webp .appeal .video__button-2{ background: url(../img/play.webp) no-repeat; }

.webp .call-back__form .form-top label::before{ background: url(../img/sprite.webp); }

.webp .call-back__form .form-top .yellow-button{ background: url(../img/min-button.webp) no-repeat; }

.webp .contacts__messengers li:nth-of-type(1) a{ background: url(../img/sprite.webp); }

.webp .contacts__messengers li:nth-of-type(2) a{ background: url(../img/sprite.webp); }

.webp .contacts__messengers li:nth-of-type(3) a{ background: url(../img/sprite.webp); }