@charset "UTF-8";

@font-face {
  font-family: "AdobeArabic";
  font-display: swap;
  src: url("../fonts/AdobeArabic-Regular.woff") format("woff"), url("../fonts/AdobeArabic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "agavalanchec";
  font-display: swap;
  src: url("../fonts/agavalanchec-bold.woff") format("woff"), url("../fonts/agavalanchec-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "agavalanchec";
  font-display: swap;
  src: url("../fonts/agavalanchec.woff") format("woff"), url("../fonts/agavalanchec.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLTStd";
  font-display: swap;
  src: url("../fonts/HelveticaLTStd-Bold.woff") format("woff"), url("../fonts/HelveticaLTStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  font-display: swap;
  src: url("../fonts/Intro.woff") format("woff"), url("../fonts/Intro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "minionpro";
  font-display: swap;
  src: url("../fonts/minionpro-regular.woff") format("woff"), url("../fonts/minionpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.bg-1 {
  height: 1500px;
  background: -o-linear-gradient(238deg, #cef9f6 0%, white 100%);
  background: linear-gradient(212deg, #cef9f6 0%, white 100%);
  /* w3c */
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.logo .title {
  margin-left: 18px;
  margin-top: 10px;
  width: 300px;
}

.logo h1 {
  font-family: 'agavalanchec', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.logo h1 span {
  font-size: 15px;
}

.logo p {
  font-family: 'agavalanchec', sans-serif;
  font-size: 15px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts h3 {
  font-family: 'agavalanchec', sans-serif;
  font-size: 15px;
  width: 160px;
  text-align: right;
  margin-right: 22px;
}

.contacts .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .social__list a {
  display: block;
  margin-right: 10px;
}

.social {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.call-back {
  margin-top: 50px;
  font-family: 'intro', sans-serif;
  text-align: center;
}

.call-back p {
  font-size: 25px;
  margin-bottom: 3px;
}

.call-back button {
  padding: 8px 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(#dd2b2b), color-stop(1%, #dd2b2b), to(#fda5a5));
  background: -o-linear-gradient(bottom, #dd2b2b 0%, #dd2b2b 1%, #fda5a5 100%);
  background: linear-gradient(0deg, #dd2b2b 0%, #dd2b2b 1%, #fda5a5 100%);
  /* w3c */
  border-radius: 15px;
  font-size: 15px;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px #b6003f;
          box-shadow: 0px 2px 2px 0px #b6003f;
}

.block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-1 .left-column {
  margin-top: 130px;
  font-family: 'intro', sans-serif;
}

.block-1 .left-column h2 {
  margin-left: 15px;
  margin-bottom: 55px;
  width: 510px;
  font-size: 35px;
}

.block-1 .left-column h2 span {
  font-size: 25px;
}

.block-1 .left-column button {
  padding: 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#dd2b2b), color-stop(1%, #dd2b2b), to(#fda5a5));
  background: -o-linear-gradient(bottom, #dd2b2b 0%, #dd2b2b 1%, #fda5a5 100%);
  background: linear-gradient(0deg, #dd2b2b 0%, #dd2b2b 1%, #fda5a5 100%);
  /* w3c */
  border-radius: 50px;
  font-size: 15px;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px #b6003f;
          box-shadow: 0px 2px 2px 0px #b6003f;
  font-size: 24px;
  margin-bottom: 24px;
}

.block-1 .left-column p {
  font-family: 'agavalanchec', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.block-1 .video {
  margin-top: 75px;
  position: relative;
  width: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-1 .video .video__button {
  position: absolute;
  background: none;
  width: 68px;
  height: 48px;
}

.video__media {
  width: 505px;
  height: 388px;
}

.icon-messenger {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 37px;
  height: 37px;
}

.icon-telegram {
  background-image: url(../img/sprite.png);
  background-position: -37px 0px;
  width: 36px;
  height: 36px;
}

.icon-vk {
  background-image: url(../img/sprite.png);
  background-position: 0px -37px;
  width: 36px;
  height: 36px;
}

.icon-whatsapp {
  background-image: url(../img/sprite.png);
  background-position: -36px -37px;
  width: 36px;
  height: 36px;
}

.webp .icon-messenger{ background-image: url(../img/sprite.webp); }

.webp .icon-telegram{ background-image: url(../img/sprite.webp); }

.webp .icon-vk{ background-image: url(../img/sprite.webp); }

.webp .icon-whatsapp{ background-image: url(../img/sprite.webp); }